/* Reset básico e estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    line-height: 1.6;
}

.container-form {
    margin: 50px auto;
    padding: 20px;
    background-color: #1c1c1c;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    max-width: 80%;
}

.container-form h2 {
    text-align: center;
    color: #f36f21;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
}

input, select, textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: vertical;
    height: 100px;
}

input::placeholder,
textarea::placeholder {
    color: #ccc;
}

input:focus, textarea:focus {
    outline: none;
    background-color: transparent;
}

.submit-btn {
    display: block;
    width: 200px;
    margin: 15px auto;
    padding: 15px;
    background-color: #f36f21;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-align: center;
}

.submit-btn:hover {
    background-color: #642906;
}

.foto-placeholder {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #777;
    cursor: pointer;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 16px;
    transition: border 0.3s;
}

.foto-placeholder::after {
    content: "\f093";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto-placeholder:hover {
    border: 2px dashed #f36f21;
}

#removerImagemBtn {
    display: block;
    width: 100px;
    margin: -15px 0 0 200px;
    padding: 5px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.3s;
}

#removerImagemBtn:hover {
    background-color: #000;
}

#div-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

#div-imagem label,
#div-imagem input,
#div-imagem button {
    margin: 10px;
}

#div-imagem label {
    color: white;
}

#div-imagem input {
    padding: 10px;
    background-color: white;
}

#div-imagem button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#div-imagem button:hover {
    background-color: #45a049;
}

body.modal-open {
    overflow: hidden;
}

.modal-block {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
}

.modal-block p {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.modal-block button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f36f21;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-block button:hover {
    background-color: #642906;
}
/* Estilos para o perfil */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1c1c1c;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.profile {
    text-align: center;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #f36f21;
}

.profile-details {
    flex-grow: 1;
    text-align: left;
}

.profile-details h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.profile-details button {
    background-color: #f36f21;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.profile-details button:hover {
    background-color: #642906;
}

.profile-details p {
    color: #ccc;
    margin-bottom: 10px;
}

/* Estilos para a lista de comentários */
#commentsList {
    list-style-type: none;
    padding: 0;
}

#commentsList li {
    margin-bottom: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

#commentsList li button {
    background-color: #f36f21;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

#commentsList li button:hover {
    background-color: #642906;
}
